<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
    <div class="insert-result">
        <% if (insert === 'y') {%>
          Insert successful!
      <%  } %>
      </div>
      
<h2>Game nights</h2>
<div class="card-deck-wrapper">
    <div class="card-deck">
        <% result.forEach(function(r) { %>
            <div class="card">
                <div class="card-body">
                    <a class="card-block stretched-link text-decoration-none" href="/selectGame?night=<%= JSON.stringify(r) %>">
                        <h5 class="card-title"><%= r.nightname %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Hosted by <%= r.hostname %> - BGG Username:<%= r.hostusername %></h6>
                        <p class="card-text">Date: <%= r.day.getFullYear() %>/<%= r.day.getMonth() + 1%>/<%= r.day.getDay() %></p>
                    </a>
                </div>
            </div>
        <% }); %>
    </div>
</div> 

</div>

</body>
</html>
